body{
	background:url("../images/backgroundcrystal.jpg");
}
.page-header{
	text-align: center;
	color:black;
	font-size:60px;
	font-family: 'Poiret One', cursive;
}
p{
	padding:10px;
 	font-family: 'Poiret One', cursive;
}

.rules{
	font-size:20px;
	color: navy;
	text-align: center;
	background-color: lightblue;
	font-family: 'Poiret One', cursive;
}


.totalnum{
	font-size: 40px;
	font-color: black;
	float:left;
	margin-right: 60px;
	text-align: center;
	background-color:lightblue;
	font-family: 'Poiret One', cursive;
}
h2{
	font-size: 40px;
	font-color:black;
	font-family: 'Poiret One', cursive;
}
.thumbnail{
	max-height: 150px;
	max-width: 90px;
	background-color: black;
	border-color: grey;

}
.score{
	float:right;
	border-color: black;
	font-size:40px;
	background-color: white;
	padding-right: 75px;	
	text-align: center;	
	font-family: 'Poiret One', cursive;
}
.randomnum{
	font-size:40px;
	background-color: white;
	float:left;
	border-color: black;
	text-align: center;
	font-family: 'Poiret One', cursive;
	
}
.container{
	overflow:auto;
}
